<form method="post" action="{{ path('burger_delete', {'id': burger.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ burger.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer</button>
</form>
