{% extends 'base.html.twig' %}

{% block title %}Modification d'un burger{% endblock %}

{% block body %}
    <div class="col-12">
        <h3>
            Modification d'un burger
            <a href="{{ path('burger_index') }}" class="btn btn-primary float-right mt-2"><i class="fa fa-step-backward"></i>Revenir à la liste</a>
        </h3>

        {{ include('burger/_form.html.twig', {'button_label': 'Update'}) }}

        <br/>

        {{ include('burger/_delete_form.html.twig') }}
    </div>
{% endblock %}
