{% extends 'base.html.twig' %}

{% block title %}Liste des burgers{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="col-12">
        <h3>Liste des burgers</h3>

        <table id="burger_list" class="table">
            <thead>
                <tr>
                    <th class="thD" data-name="id">Id</th>
                    <th class="thD" data-name="name">Nom</th>
                    <th class="thD" data-name="desc">Description</th>
                    <th class="thD" data-name="price">Prix</th>
                    <th class="thD" data-name="supp_double">Supp double</th>
                    <th class="thD" data-name="actions">Actions</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <a href="{{ path('burger_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> Créer un burger</a>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {


            var arr = [];
            $('.thD').each(function() {

                if (typeof $(this).attr('data-name') !== 'undefined'){
                    arr.push( {'data':$(this).attr('data-name')});
                } else {
                    arr.push({'data':null});
                }

            });


            $.extend($.fn.dataTable.defaults, {
                'dom': 'Blfrtip',
                'processing': true,
                'serverSide': true,
                'ajax': '/burger/list',
                language: {
                    url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
                },
                'columns': arr

            });


            $('#burger_list').DataTable({

            });
        });
    </script>


{% endblock %}
