{% extends 'base.html.twig' %}

{% block title %}Création d'un burger{% endblock %}

{% block body %}
    <div class="col-12">

        <h3>
            Création d'un burger
            <a href="{{ path('burger_index') }}" class="btn btn-primary float-right mt-2"><i class="fa fa-step-backward"></i>Revenir à la liste</a>
        </h3>

        {{ include('burger/_form.html.twig') }}
    </div>
{% endblock %}
