{% extends 'base.html.twig' %}

{% block title %}Détails d'un burger{% endblock %}

{% block body %}
    <div class="col-12">
        <h3>
            Détails d'un burger
            <a href="{{ path('burger_index') }}" class="btn btn-primary float-right mt-2"><i class="fa fa-step-backward"></i>Revenir à la liste</a>
        </h3>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ burger.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ burger.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ burger.description }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ burger.price }}</td>
                </tr>
                <tr>
                    <th>Supp_double</th>
                    <td>{{ burger.suppDouble }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('burger_edit', {'id': burger.id}) }}" class="btn btn-primary"><i class="fa fa-pen"></i> Modifier</a>

        <br/><br/>

        {{ include('burger/_delete_form.html.twig') }}
    </div>
{% endblock %}
